body{
	display: flex;
	margin-left: 150px;
	margin-right: 150px;
	background-image: url(../images/back.jpg);
	background-size: cover;
}

.topMenu {
	display: flex;
	width: 1080px;
	height: 100px;
	flex-direction: column;
}

.logo{
	width: 100px;
	height: 100px;
	margin-right: 400px;
	margin-top: 50px;
	border: 20px;
	background-image: url(../images/logo.svg);
	background-repeat: no-repeat;
	background-color: lightblue;
	border: solid 2px black;
	border-radius: 10px;
}

.menu{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 1080px;
	height: 60px;
	background-color: black;
}

.mainContainer{
	background-color: rgb(255, 255, 255, 0.25);
}

h1{
	color: White;
	font-family: 'Balsamiq Sans', cursive;
	margin-left: 40px;
}

h2{
	font-size: 50px;
	font-family: 'Balsamiq Sans', cursive;
}

ul{
	width: 500px;
	margin:0;
	list-style: none;
	display: flex;
	justify-content: flex-end;
}

a{
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	color: white;
}

a:hover{
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	color: black;
	background-color:  #9666ff;
}


.game{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.titl{
	margin-top: 0px;
	margin-right: 750px;
	font-size: 12px;
	color: grey;
	display: none;

}

.hidden{
	align-self: flex-start;
	margin-left: 20px;

}

.bands{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	width: 1000px;
	height: 500px;
	justify-content: center;
	align-items: center;
	background-color: ;
}

img {
	width: 120px;
	padding: 0px;
	margin: 0px;
}

.boards{
	display: flex;
	justify-content: center;
	align-items: center;

}



.button a{
	display: flex;
	justify-content: center;
	align-items:center;
	width: 40px;
	height: 10px;
	color: black;
	background-color: #9666ff;
	border: solid 2px black;
	margin-right: 840px;
	margin-bottom: 0px;
}

#buttonHolder{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 200px;
	height: 400px;
	background-color: #ffc200;
	border: solid 2px black;
	margin-right: 20px;
	justify-content:space-around;
	align-items: center;
}

img{
	border-radius: 10px;
}

img:hover{
	transform: scale(1.1);
}

.none{
	display: none
}

.sound-board{
	display: flex;
	justify-content: center;
	width: 700px;
	height: 400px;
	background-image: url(../images/rock.jpg);
	background-size: cover;
}

.drop{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
	height: 250px;
	background-color: rgba(255, 255, 255, 0.30);
	margin-top: 100px;
	margin-right: 40px;
	border-radius: 40px;
}


.cat{

	background-image: url(../images/sign.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.dog{

	background-image: url(../images/sign.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.chicken{

	background-image: url(../images/sign.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.sheep{

	background-image: url(../images/sign.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.hidden{
	margin-top: 20px;
	width: 170px;

}

.sound_title{
	margin-top: 40px;
}

.sound-pieces{
	display: flex;
	width: 920px;
	height:100px;
	justify-content: center;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(128, 0, 128, 0.5);
	border: solid 2px black;
	margin-bottom: 30px;
}




/*+++++++++++++++++++++++++++*/

.footer{
	display: flex;
	width: 1080px;
	height: 280px;
	background-color: black;
	justify-content: center;
	justify-content: space-around;
	align-items: center;
	flex-direction:column;
	padding-bottom: -20px;
}

.footer p{
	color: white;
}


.buttonf  a{
	color: black;
	display: flex;
	width: 130px;
	height: 10px;
	border: solid 2px black;
	justify-content: center;
	align-items:center;
	background-color: lightblue;
}

.buttonf  a:hover{
	background-color: pink;
}


.hiddenn{
	display: none;
}


.footer h2{
	color: white;
	letter-spacing: 3px;
	margin-bottom: 40px;
}

.final{
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-content: space-between;
	align-items: center;
}

.line{
	margin-bottom: 0px;
	width: 950px;
	height: 1px;
	background-color: white;
}


.final p{
	margin-bottom: 0px;
	color: white;
	font-size: 12px;
}
